{% extends "_layout" %}

{% set bodyClass = "product-page" %}
{% set share_text = "#{entry.title} at Serabeena #{entry.url}" %}


{% block content %}
	<article class="product">
    <div class="row">
      <div class="meta">
  		  <h1>{{ entry.title }}</h1>
        <div class="share-module">
          {% include 'partials/_share' with { 
            entry : entry, 
            share_text : share_text 
          } %}
        </div>
      </div>

      <div class="body">
  		  {{ entry.body }}
      </div>
    </div>

    {% set images = entry.images %}
    
    {% if images | length %}
      <div class="gallery royalSlider">

<!--         <div class="rsContent">
          <img src="../assets/img/Serabeena-095.jpg" />
        </div>
        <div class="rsContent">
          <img src="../assets/img/Serabeena-115.jpg" />
        </div>
        <div class="rsContent">
          <img src="../assets/img/Serabeena-150.jpg" />
        </div>   -->              

        {% for image in images %}
          <div class="rsContent">
            <img src="{{ image.getUrl() }}" />
          </div>
        {% endfor %}
      </div>
    {% endif %}

	</article>
  <article class="more">
    {% include 'products/_related' with {
      current_entry : entry
    } %}
  </article>
{% endblock %}
