{% extends "_layout" %}

{% set bodyClass = "text-page business-and-services-page" %}

{% block content %}

  <article class="container">
    <h1>{{ entry.title }}</h1>
    <div class="text-block business-and-services-text">
      <!-- {{ entry.body }} -->

        <p>Serabeena's toys can be found all over the world. Our clients have over 2,000 retail stores across Africa, Asia Pacific, Europe, the Middle East, and North & South America.</p>

        <img src="{{ siteUrl }}assets/img/sketch-1.jpg" />

        <p>We take pride in designing, developing, and manufacturing educational arts and crafts toys for 3-8 year olds. The toys we make encourage children to develop their fine motor, storytelling, and problem solving skills while giving these young learners an artistic outlet to express themselves.</p>

        <img src="{{ siteUrl }}assets/img/sketch-3.jpg" class="portrait" />

        <p>We generate concepts and can customize toys to your requirements, tailor making the process from concept to delivery. Toys are available in our private Serabeena label or under your own branding.</p>

        <img src="{{ siteUrl }}assets/img/sketch-2.jpg" class="portrait" />

        <p>It's a given that all of our toys follow the highest and most up to date quality and safety standards.</p>

        <p>So get in touch if you'd like to carry our toys, or need help building your own custom line.</p>
      
    
    </div>
    
  </article>
{% endblock %}