{% extends "_layout" %}

{% set bodyClass = "text-page client-list" %}

{% block content %}
  <article class="container">
    <h1 class="margin-bottom--medium">{{ entry.title }}</h1>
    <ul class="plain">
      {% for block in entry.list %}
        <li>
          {% if block.clientUrl | length %}
            <a href="{{ block.clientUrl }}" class="colorful-type">{{ block.clientName }}</a>
          {% else %}
            <span class="colorful-type">{{ block.clientName }}</span>
          {% endif %}
          <span class="meta-type">{{ block.location }}</span>
        </li>
      {% endfor %}
    </ul>
  </article>
{% endblock %}