@include keyframes(popup) {
  0% {
    margin-top: -15px;
  }
  
  20%,80% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0px;
  }
}

footer {
  background-color: $accent-color;
  padding-top: $spacing-unit/2;
  padding-bottom: $spacing-unit/2;
  position: relative;
  .fixed-footer & {
    @include media-from($bp-med) {  
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
  @include media-from($bp-full) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
img.logo {
  max-width: 100px;
  float: left;
}

.balloon-container {
  @include media-upto($bp-med) {
    float: right;
    margin-left: $spacing-unit/1.5;
  }
  @include media-from($bp-med) {
    float: right;
    margin-left: $spacing-unit;
    position: relative;
    margin-top: -80px;
    height: 130px;
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 10;
    overflow: hidden;
    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 3px;
      background: white;
      height: 100%;
      bottom: -40px;
      left: 34px;
      z-index: -10;
    }
    
    &:nth-child(2) {
      height: 170px;
      right: 160px;
      .balloon {
        background-color: $accent-color-3;
        font-size: 19px;
        &:after {
          background-color: $accent-color-3;
        }
      }
    }
    &:nth-child(3) {
      right: 280px;
      .balloon {
        background-color: $accent-color-4;
        &:after {
          background-color: $accent-color-4;
        }
      }
    }
  }
}
.balloon {
  color: white !important;
  @include media-upto($bp-med) {   
    text-decoration: none;
    @include hover-animation;
    span {
      display: none
    }
    i {
      font-size: 28px
    }
  }
  @include media-from($bp-med) {
    $balloonSize: 70px;
    display: block;
    position: relative;
    width: $balloonSize;
    height: $balloonSize;
    border-radius: $balloonSize;
    text-align: center;
    background-color: $accent-color-2;
    z-index: 10;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    @include transition(margin 0.2s ease);
    i {
      position: relative;
      top: 48%;
      @include transform(translateY(-48%));
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 12px;
      background-color: $accent-color-2;
      height: 5px;
      border-radius: 10px;
      bottom: -4px;
      left: 29px;
      z-index: -10;
    }
    span {
      display: none;
    }
    &:hover {
      margin-top: 0px;
    }
  }
}
