
h1, h2, h3, h4, h5, h6 {
  font-family: $alt-type;
  line-height: 1;
  margin: 0;
  color: $accent-color;
}


section p {
  line-height: 1.5;
}

.centered {
  text-align: center;
}

.caption {
  display: block;
  font-family: $base-type;
  font-size: $base-font-size;
  color: $type-color;
  margin-top: 0.5em;
  font-style: normal;
}

