body {
  font-family: $base-type;
  background-color: $background-color;
  color: $type-color;
  font-size: 16px;
}

a {
  color: #2b5070;
  text-decoration: underline;
  &:link, &:visited {
    color: $link-color;
  }

  &:hover, &:active {
    color: darken($link-color, 25%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $alt-type;
  font-weight: normal;
}


img {
  max-width: 100%;
}

.error {
  @include content-block;
  @include media-from($bp-med) {
    margin-top: $spacing-unit*6;
    margin-bottom: $spacing-unit*6;
  }
}
