// Readable media queries
@mixin media-upto($end) {
  @media screen and (max-width: ($end - 1)) {
    @content;
  }
}

@mixin media-between($start, $end) {
  @media screen and (min-width: $start) and (max-width: ($end - 1)) {
    @content;
  }
}

@mixin media-from($start) {
  @media screen and (min-width: $start) {
    @content;
  }
}


@mixin simple-grid($columns, $gutter: 3%, $float: left, $vertical-gutter: true) {
  
  @include clearfix;

  > * {
    float: $float;
    margin-#{$float}: $gutter;

    width: (100% - ($columns - 1) * $gutter) / $columns;
    
    // Clear first of each row
    &:nth-child(#{$columns}n+1) {
      clear: $float;
      margin-#{$float}: 0;
    }
    
    // Add a margin-top to elements in the second row or beyond
    @if ($vertical-gutter) {
      &:nth-child(#{$columns + 1}) {
        margin-top: $gutter;
      }
    }
  }
  
}

@mixin content-block {
  width: 100%;
  max-width: $max-width-wide;
  margin: 0 auto;
  padding-left: $spacing-unit/2;
  padding-right: $spacing-unit/2;
  @include media-from($bp-small) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  
}

@mixin smooth-font {
  -webkit-font-smoothing: antialiased;
}


// type styles:

@mixin mega-header {
  font-size: $huge-font-size;
  text-align: center;
  @include media-from($bp-med) {
    font-size: $mega-font-size;
  }
}

@mixin large-header {
  font-size: $medium-font-size;
  font-family: $alt-type-serif;
  line-height: 1.2;
  @include media-from($bp-med) {
    font-size: $huge-font-size;
  }
}

// @mixin triangle-uneven($width, $height, $color) {
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 16px 0 16px 25px;
//   border-color: transparent transparent transparent #007bff;
// }