@include keyframes(springIn) {
  from {
    @include transform(scale(0));
    opacity: 0;
  }
  50% {
   @include transform(scale(0));
   opacity: 0;
  }
  82.5% {
    @include transform(scale(1.03));
    @include transition-timing-function(ease-out);
    opacity: 1;
  }
  to {
    @include transform(scale(1));
  }
}

@include keyframes(peekIn) {
  from {
    @include transform(translateY(100%));
  }
  82.5% {
    @include transform(translateY(100%));
  }
  to {
    @include transform(translateY(0));
  }
}

@include keyframes(oHai) {
  from {
    @include transform(translateY(0%));
  }
  25% {
    @include transform(translateY(3%));
  }
  50% {
    @include transform(translateY(0%));
  }
  75% {
    @include transform(translateY(3%));
  }
  to {
    @include transform(translateY(0));
  }
}

.intro-home {
  @include animation-name(springIn);
  @include animation-duration(0.6s);
  @extend .centered;
  padding-left: 17%;
  padding-right: 17%;
  font-size: $big-font-size;
  margin-top: $spacing-unit;
  a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: $accent-color;
    @include transform(scale(1));
    @include transition(all 0.2s ease-in-out);
    &:nth-child(2) {
      color: $accent-color-2;
      &:hover {
        background-color: lighten($accent-color-2, 40%);
      }
    }
    &:nth-child(3) {
      color: $accent-color-3;
      &:hover {
        background-color: lighten($accent-color-3, 35%);
      }
    }
    &:nth-child(4) {
      color: $accent-color-4;
      &:hover {
        background-color: lighten($accent-color-4, 35%);
      }
    }
    &:hover {
      @include transform(scale(1.05));
      background-color: lighten($accent-color, 40%);
      border-radius: 3px;
    }
  }
}

.home-footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  @include animation-name(peekIn);
  @include animation-duration(1.2s);
}