header {
  z-index: 10;
}
header .container {
  @include content-block;
}

.site-header {
  width: 100%;
  // position: fixed;
  top: 0;
  right: 0;
  background-color: $accent-color;
  @include transition(all .25s ease-in-out);
  backface-visibility: hidden;
  .container {
    @include simple-grid(2);
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
    @include clearfix;
  }

  .site-title {
    text-align: left;
  }

  .menu {
    text-align: right; 
    font-family: $alt-type;
    font-size: $medium-font-size;
    float: right;
    span {
      display: none;
    }
    p {
      margin: 0;
      line-height: 1;
      cursor: pointer;
      float: right;
      &:after {
        content: " ";    
        border-color: $color-light;
        border-style: solid none double;
        border-width: 3px 0 9px;
        display: inline-block;
        height: 3px;
        width: 1.25rem;
        margin-left: 0.5em;
        margin-top: 10px;
        vertical-align: top;
        .visible & {
          border: none;
          content: "×";
          font-size: 42px;
          height: auto;
          width: auto;
          height: 32px;
          vertical-align: middle;
          margin-top: -15px;
        }
      }
    }
  }
  h1 {
    font-family: $base-type;
    font-size: $medium-font-size;
    line-height: 1;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $color-light;
    background: url("../../img/serabeena-wordmark.png") center center no-repeat;
    background-size: 100%;
    display: block;
    width: 180px;
    height: 36px;
    white-space: no-wrap;
    span {
      display: none;
    }
  }
  
  svg {
    display: block;  
    margin: 0 auto;
    path {
      fill: $type-color;
    }
    width: 95px;
    height: 70px;
  }

  .logo {
    img {
      height: 7em;
      @include transition(height 0.35s ease-in-out);
    } 
  }


  &.headroom--not-top.slideUp {
    @include transition-delay(1s);
  }

  &.headroom--not-top {
    background-color: rgba($accent-color, 0.6);
    .logo {
      img {
        width: auto;
        height: 3em;
      } 
    }
  }

  &.slideDown {
    @include transform(translateY(0));
  }

  &.slideUp {
    @include transform(translateY(-100%));
  }

  #overlay & {
    // position: fixed;
  }

  .nav-open & {
    background-color: transparent !important;
  }

}
