<footer>
  <div class="container">
    <img src="{{ siteUrl }}assetsnew/img/logo.png" class="logo" />

    <div class="balloon-container">
      <a class="icon icon__email balloon pop-up" href="mailto:info@serabeena.com.au">
        <span>Email</span>
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <div class="balloon-container">
      <a class="icon icon__twitter balloon pop-up" href="http://twitter.com/serabeena">
        <span>Twitter</span>
        <i class="fa fa-twitter"></i>
      </a>
    </div>
    <div class="balloon-container">
      <a class="icon icon__facebook balloon pop-up" href="https://www.facebook.com/pages/Serabeena/340644652462">
        <span>Facebook</span>

        <i class="fa fa-facebook"></i>
      
        
      </a>
    </div>
  </div>
</footer>