<div id="overlay">
  <div id="overlay-content">
    
    <header class="site-header">
      <div class="container">
        <div class="site-title">
          <h1>
            <a href="{{ siteUrl }}">
              {{ siteName }}
            </a>
          </h1>
        </div>

        
        <div class="menu">
          <p class="navTrigger">
            <span>Menu</span>
          </p>
        </div>
      
        
      </div>
    </header>

    {% include 'partials/_nav' %}
  </div>
</div>