footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  @include clearfix;
  @include smooth-font;
  color: white;
  clear: both;
  section {
    @include content-block;
  }
  a {
    text-decoration: none;
    color: white;
    p & {
      text-decoration: underline;
    }
  }
}

// TODO: contact footer section
footer.contact {
  background-color: $accent-color;
  color: $color-dark;
  text-align: center;
  padding-top: $spacing-unit*2;
  padding-bottom: $spacing-unit*2;
  h1 {
    font-size: $huge-font-size;
  }
  a {
    color: $type-color;
    text-decoration: underline;
  }
  .logo {
    max-width: 200px;
    padding-left: 20px;
    
  }
}

footer.footer {
  background-color: $color-dark;
  a {
    color: white;
  }
  p a {
    text-decoration: underline;
  }

  .about {
    padding-bottom: $spacing-unit*1.5;
  }

  .footer-nav {
    @include media-from($bp-mid) {
      float: left;
    }
  }
  nav.navigation {
    @include media-from($bp-mid) {
      float: left;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: $base-font-size;
      li {
        display: inline-block;
        margin-right: 3em;
      }
    }
    .copyright {
      float: left;
    }
  }
  
  .social {
    padding-top: $spacing-unit;
    @include clearfix;
    @include media-from($bp-mid) {
      text-align: right;
      float: right;
      padding-top: 0;
    }
    
  }
  
}

