.intro-home {
  @extend .centered;
  padding-left: 18%;
  padding-right: 18%;
  font-size: $big-font-size;
  margin-top: $spacing-unit;
  a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: $accent-color;
    @include transform(scale(1));
    @include transition(all 0.2s ease-in-out);
    &:nth-child(2) {
      color: $accent-color-2;
      &:hover {
        background-color: lighten($accent-color-2, 40%);
      }
    }
    &:nth-child(3) {
      color: $accent-color-3;
      &:hover {
        background-color: lighten($accent-color-3, 35%);
      }
    }
    &:nth-child(4) {
      color: $accent-color-4;
      &:hover {
        background-color: lighten($accent-color-4, 35%);
      }
    }
    &:hover {
      @include transform(scale(1.05));
      background-color: lighten($accent-color, 40%);
      border-radius: 3px;
      // padding-left: 0.25em;
      // padding-right: 0.25em;
      
    }
  }
}

.home-footer {
  display: block;
  margin-top: $spacing-unit*2;
}