{% extends "_layout" %}
{% set bodyClass = "fixed-footer" %}
{% set title = "Page not found (404)" %}

{% block content %}

  <article>
    <h1 class="margin-bottom--medium centered">Oops, page not found!</h1>
    <div class="body">
    	<p>Sorry, we couldn't find the page you're looking for – maybe you mis-typed the address, or the link is out of date.</p>
      <a href="/" class="monster-link">
        <img src="{{ siteUrl }}assets/img/monster.jpg" />
      </a>
    </div>
  </article>
{% endblock %}
