<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}Build/assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}Build/assets/css/style.css">

	<script src="//use.typekit.net/pgr4cvd.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>

<body class="{{ bodyClass is defined ? bodyClass }}">

		{% include 'partials/_nav-overlay' %}
		{% include 'partials/_header' %}

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		
		{% if not hideFooter is defined %}
			{% include 'partials/_footer' %}
			FOOBAH
		{% endif %}

	</body>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="{{ siteUrl }}Build/assets/js/vendor/jquery-2.1.1.min.js"><\/script>')</script>
	<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
	<script src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js"></script>
	<script src="{{ siteUrl }}Build/assets/js/vendor/jquery.magnific-popup.js" type="text/javascript"></script>
	<script src="{{ siteUrl }}Build/assets/js/vendor/jquery.royalslider.min.js" type="text/javascript"></script>
	
	<script src="{{ siteUrl }}Build/assets/js/app.js" type="text/javascript"></script>
</html>
